#page-top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cf8164;
  }

  .nav-item  {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    line-height:80px;/*區塊同高度*/
  }

  
  .nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.123);
  }



